<launch>
    <!-- By default, we are not in debug mode -->
    <arg name="debug" default="false" />

    <param name="robot_description" textfile="$(find robot_arm_moveit)/config/gazebo_robot_arm.urdf" />

    <rosparam command="load" file="$(find robot_arm_control)/config/robot_arm_controller.yaml" />

    <!-- Load hardware interface -->
    <node name="robot_arm_hw_main" pkg="robot_arm_hardware" type="robot_arm_hw_main" output="screen"/> 

    <node name="ros_controller_manager" pkg="controller_manager" type="controller_manager" respawn="false" output="screen" args=" spawn  
                    joint_state_controller arm_controller gripper_controller"/>

    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />


    <include file="$(find robot_arm_moveit)/launch/planning_context.launch" >
        <arg name="load_robot_description" value="true"/>
    </include>

    
    <include file="$(find robot_arm_moveit)/launch/move_group.launch">
        <arg name="allow_trajectory_execution" value="true"/>
        <arg name="fake_execution_type" value="false"/>
        <arg name="info" value="true"/>
    </include>


    <!-- Run Rviz and load the default config to see the state of the move_group node -->
    <include file="$(find robot_arm_moveit)/launch/moveit_rviz.launch">
        <arg name="rviz_config" value="$(find robot_arm_moveit)/launch/moveit.rviz"/>
        <arg name="debug" value="$(arg debug)"/>
    </include>

    <node name="ros_serial_node" pkg="rosserial_python" type="serial_node.py" output="screen">
        <param name="port" type="string" value="/dev/ttyUSB0"/>
        <param name="baud" type="int" value="115200"/>
    </node>

</launch>
